.profile {
    margin: 0 auto;
    padding: 74px 0 70px;
}

@media screen and (max-width: 769px) {
    .profile {
        padding: 236px 0 269px;
    }
}

@media screen and (max-width: 431px)  {
    .profile {
        padding: 70px 0 40px;
    }
}