.auth-form__link {
    margin: 0 auto;
    font-size: 14px;
    line-height: 1.21;
    font-weight: 400;
    text-decoration: none;
    color: black;
    transition: opacity 0.2s ease-in-out;
}

.auth-form__link:hover {
    opacity: 0.6;
}

@media screen and (max-width: 431px) {
    .auth-form__link {
        font-size: 12px;
    }
}