.profile__edit {
    margin: 0 0 16px;
    text-decoration: none;
    color: black;
    font-size: 13px;
    line-height: 1.21;
    font-weight: 400;
    text-align: center;
    transition: opacity 0.2s ease-in-out;
}

.profile__edit:hover {
    opacity: 0.6;
}

@media screen and (max-width: 431px) {
    .profile__edit {
        font-size: 12px;
    }
}