.portfolio {
    margin: 100px 0 0 0;
}

@media screen and (max-width: 769px) {
    .portfolio {
        margin-top: 91px;
    }
}

@media screen and (max-width: 431px) {
    .portfolio {
        margin-top: 70px;
    }
}