.techs__paragraph {
    margin: 26px auto 0;
    max-width: 460px;
    width: 100%;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 400;
    letter-spacing: -.04em;
}

@media screen and (max-width: 769px) {
    .techs__paragraph {
        margin-top: 22px;
        font-size: 12px;
    }
}

@media screen and (max-width: 577px) {
    .techs__paragraph {
        margin-top: 24px;
        font-size: 11px;
        max-width: 292px;
    }
}