.filter__input {
    display: block;	
    width: 0;
    height: 0;	
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.filter__input:checked + .filter__switch {
	background: #2BE080;
} 

.filter__input:checked + .filter__switch:before {
	transform: translateX(15px);
    background: white;
}  