.popup__account {
    margin-bottom: 92px;
    text-decoration: none;
    color: black;
    font-size: 14px;
    line-height: 1.1;
    font-weight: 500;
    transition: opacity 0.2s ease-in-out;
    display: flex;
    align-items: center;
    gap: 17px;
}

.popup__account:hover {
    opacity: 0.6;
}
@media screen and (max-width: 431px) {
    .popup__account {
        font-size: 14px;
    }
}