.button_theme_save {
    height: 21px;
    width: 72px;
    background-image: url(../../../images/save-button.png);
    border-radius: 30px;
    background-position: center;
    background-size: cover;
    text-align: center;
    font-size: 10px;
    line-height: 0.9;
    font-weight: 400;
    position: absolute;
    top: 14px;
    right: 14px;
    z-index: 1;
}