.project__about {
    margin-top: 26px;
    margin-bottom: 110px;
    width: 550px;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 400;
}

@media screen and (max-width: 1173px) {
    .project__about {
        width: 480px;
    }
}

@media screen and (max-width: 1070px) {
    .project__about {
        width: 420px;
    }
}

@media screen and (max-width: 959px) {
    .project__about {
        width: 319px;
        font-size: 12px;
    }
}

@media screen and (max-width: 769px) {
    .project__about {
        margin: 22px 0 93px;
        font-size: 12px;
    }
}

@media screen and (max-width: 684px) {
    .project__about {
        margin: 16px 0 60px;
        width: 284px;
        font-size: 11px;
    }

    .project__about:first-of-type {
        margin-bottom: 56px;
    }
}