.project__wrapper {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #000000;
}

@media screen and (max-width: 684px) {
    .project__wrapper {
        display: block;
    }
}