.profile__input {
    margin: 0;
    padding: 0;
    width: 350px;
    font-size: 11px;
    line-height: 1.21;
    font-weight: 400;
    text-align: right;
    border: none;
    outline: none;
}

.profile__input:first-of-type {
    margin-bottom: 16px;
}