.burger__item {
    width: 28px;
    height: 3px;
    width: 100%;
    background-color: black;
}

@media screen and (max-width: 431px) {
    .burger__item {
        width: 22px;
        height: 2.5px;
    }
}