.techs__item {
    background-color: #E8E8E8;
    width: 90px;
    min-height: 60px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 1.21;
    font-weight: 400;
}

@media screen and (max-width: 577px) {
    .techs__item {
        width: 84px;
        min-height: 57px;
    }
}