.portfolio__list {
    margin: 50px 0 0 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media screen and (max-width: 431px) {
    .portfolio__list {
        margin-top: 40px;
    }
}