.footer__copy {
    margin: 20px 0 0 0;
    font-size: 13px;
    line-height: 1.21;
    font-weight: 400;
}

@media screen and (max-width: 431px) {
    .footer__copy {
        margin-top: 30px;
    }
}